@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body{
    margin: 0;
    background: #383535;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header {
    background: #383535;
}
header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    max-width: 5%;
    max-height: 5%;
    float: left;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #eee0e0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

    padding: 15px 20px;
    display: inline-block;
}
nav a:hover{
    color: #ffffff;
}
nav a::before{
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 300ms;
}

nav a:hover::before{
    width: 100%;
}
.img{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fgifdb.com%2Fgif%2Faesthetic-anime-pixelated-background-bnuuk8wf00lrrcvf.html&psig=AOvVaw0a6UCIpUB4H7PpQ1ucs0Dq&ust=1706528515129000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDCtKKAgIQDFQAAAAAdAAAAABAD');
    background-size:cover;
    background-position:center;
    height:300px;
    width:300px;
    border-radius:50%;
    overflow: hidden;
}
.img img {
    width: 100%; /* Make the image fill the entire container */
    height: 100%; /* Make the image fill the entire container */
    object-fit: cover; 
}