@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body{
    margin: 0;
    background: linear-gradient(to bottom,gray, #383535);
    font-family: 'Lobster', cursive;
    font-weight: 300;
    overflow: hidden;
}

.container{
    width: 100%;
    margin: 0 auto;
 
}

header {
    background: #383535;
}
header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    max-width: 5%;
    max-height: 5%;
    float: left;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #eee0e0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

    padding: 15px 20px;
    display: inline-block;
}
nav a:hover{
    color: #ffffff;
}
nav a::before{
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 300ms;
}

nav a:hover::before{
    width: 100%;
}
.happy{
    background-size:cover;
    background-position:center;
    height:650px;
    width:500px;
    border-radius:50%;
    margin-right:auto;
    margin-right:100px;
    margin-top:60px;
    overflow: hidden;
}
.happy img {
    width: 100%; /* Make the image fill the entire container */
    height: 100%; /* Make the image fill the entire container */
    object-fit: cover; 
}

.text {
    width:800px;
    top: 55%;
    right: 5%;
    transform: translate(0, -50%);
    color: black;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    text-align: center;
    position: fixed;
    border:none;
    background:linear-gradient(lightblue,rgb(56, 56, 225));
    border-radius:100px;
    padding:25px 25px 30px;
}
.text textarea{
    width: 75%;
    padding:15px;
    border-radius:20px;
    outline: none;
    resize: none;
    font-size: 20px;
    color: black;
    background-color: #3e2723;
    border-color: #3e2723;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: bold;
}
.text h2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.text p{
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Lobster', cursive;
}


